.footer-buttons-container {

    display: flex;
    justify-content: space-around;
    width: 60rem;
    margin-right: 25rem;

    flex-direction: row;
    align-items: center;
}

.buttons-container {
    display: flex;
    justify-content: space-evenly;
}

.footer-tracker-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.song-info {
    display: flex;
    width: 10rem;
    align-items: center;
}
