.audio-song-info {
    display: flex;
}

.audio-song-info-container {
    width: 22rem;
}

.audio-song-info > img {
    width: 75px;
}

.audio-song-info-name {
    margin-left: 1rem;
}

.on {
    color: green;
}

.footer-buttons-container {

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.buttons-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.footer-tracker-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    width: 15rem;
}

.song-info {
    display: flex;
    width: 10rem;
    align-items: center;
}

.repeat-button {
    display: flex;
    width: 1rem;
}

.repeat-all {
    position: relative;
    right: 13px;
    top: 15px;
    color: green;
}

.repeat-one {
    position: relative;
    right: -3px;
    bottom: 1px;
    color: green;
}

.display-off {
    display: none;
}
