/* .landing-container {
    border: 1px solid red;
} */

.artist-inside > img {
    width: 10rem;

}

.album-inside > img {
    width: 10rem;
}

.artist-container {
    display: flex;
}

.albums-container {
    display: flex;
}
