.hidden {
  display: none;
}

.nav-container {
  border: 1px black solid;
  position:sticky;
  top:0;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: #121212
}

.profile-dropdown {
  position: absolute;
  right: 25px;
  top: 35px;
  padding: 0;
  list-style-type: none;
  border: 1px black solid;
  background-color: #282828;
  border-radius: 5px;
}

.profile-container {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.profile-button {
  border-radius: 15px;
  background-color: #011719;
  color: #D3D3D3;
  width: 2rem;
  height: 2rem;
}

.profile-dropdown > li {
  margin: 5px 5px;
  height: 25px;
  display: flex;
  align-items: center;
  width: 8rem;
  color: #D3D3D3;
}
