/* .sidebar-container {
    border: 1px solid black;
    position: fixed;
} */

.create-playlist {
    margin-right: 1rem;
    border-radius: 16px;
    background-color: #011719;
}

.home-text {
    height: 30px;
    display: flex;
    align-items: center;
    color: #686565;
    font-weight: bold;
    margin-left: 1rem;
}

.sidebar-bottom-header {
    display: flex;
    justify-content: space-between;
}

.sidebar-container {
    background-color: #121212;
    padding: 1rem;
}

.sidebar-container-bottom {
    background-color: #121212;
    padding: 1rem;
}

.sidebar-main-container {
    width: 20rem;
    position: sticky;
    top: 0;
}

 /* .single-playlist-container {
    border: 1px green solid
}  */
