/* .sidebar-container {
    border: 1px solid black;
    /* position: fixed; */
/* } */

.home-text {
    height: 30px;
    display: flex;
    align-items: center;
    color: #686565;
    font-weight: bold;
}

.sidebar-container {
    background-color: #121212;
    color: #353535;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar-main-container {
    position: fixed;
    width: 18rem;
    height: 100%;
}

/* .single-playlist-container {
    border: 1px green solid
} */
