.update-playlist-container {
    padding: 1rem;
    width: 18rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
}

.update-playlist-container > h1 {
    margin-top: 0;
}

.update-playlist-form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* .update-playlist-label {
    display: flex;
    gap: 0.5rem;
} */
.update-playlist-input {
    height: 2rem;
    border-radius: 5px;
    width: 17.5rem
}

.update-playlist-button {
    height: 2rem;
    border-radius: 25px;
    background-color:#1FDF64;
    font-weight: bolder;
    width: 5rem;
    align-self: center;
}
